<!DOCTYPE html>
<html>
       
    <head >
          <title> La Ferrari</title>
          
    </head>
    
    <body bgcolor="#808080">
          <h1>LIST OF POSTS</h1>
            <div style="font-size: x-large">
                {% for post in posts %}
                <div>
                        <p>published: {{ post.published_date }}</p>
                        <h2><a href="">{{ post.title }}</a></h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %} 
           </div>
    </body>
</html>